<footer class="footer">
    <small>
        <%= link_to "FREAK", root_path %>, Demo by Andres Serrano
    </small>
    <nav>
        <ul>
            <li><%=link_to "About",  about_path%></li>
            <li><%=link_to "Contact", contact_path%></li>
            
        </ul>
    </nav>
</footer>